#livetweets {
	padding:0px;
	width: 99%;
	margin-left:auto;
	margin-right:auto;
}


/*
#livetweets .title {
	font-family: Georgia;
	height: 50px;
	background: url(./images/twitter_logo_3.png) no-repeat center right;
	line-height: 50px;
	margin-left: 20px;
}*/

#livetweets h2 {margin-bottom: 0;}

#livetweets .tweet {
	padding-bottom: 5px;
}

#livetweets .loading {
	height: 200px;
	width: 100%;
	background: url(./images/ajax-loader.gif) no-repeat top left;
	padding-left: 20px;
	font-style: italic;
}

#livetweets .avatar {
	float: right;
	margin: 0px 8px 0px 15px;
}

#livetweets .tweet-links {
	clear: both;
	padding-top: 5px;
	height: 30px;
	border-top: 1px dotted #dedede;
	line-height: 25px;
	font-size:0.8em;
}

#livetweets .tweet-links a{
	font-size: 0.90em;
}

#livetweets .last .text {
	font-size: 1.2em;
	padding-top: 3px;
	background: transparent url('./images/quote-close.png') no-repeat top left;
	padding-left: 50px;
	padding-bottom: 10px;
}

#livetweets .last {
	background: rgba(255,255,255,0.9); 
	padding: 15px 5px 0px 0px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
}

#livetweets .last .tweet-links a {
	font-size: 0.95em;
}

#livetweets .date {
	line-height: 25px;
	float: right;
	margin-right: 5px;
}
